html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "poppins", sans-serif;
  background: #f6f6f6;
}

body a {
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration: none;
  color: #ff7c61;
}

body a:focus {
  outline: none;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body p {
  font-weight: 400;
  font-size: 14px;
  color: #393939;
  line-height: 21px;
}

.sec-padding {
  padding: 70px 0;
}

.sec-title {
  text-transform: capitalize;
}

.sec-title h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #526c81;
}

.sec-title h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #051b43;
}

.learn_more {
  margin: 12px 0;
  background: #ff7c61;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 32px;
}

.learn_more a {
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 12px;
}

.mh-left img {
  height: 60px;
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-top {
  padding: 8px 16px;
}

.global-navigation .navbar-expand-lg .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.global-navigation li.nav-item {
  font-size: 14px;
  font-weight: 500;
}

.disp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.disp-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contact {
  background: #ff7c61;
  padding: 10px 20px;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contact a {
  color: white;
  font-weight: 600;
}

.header-contact span {
  margin-left: 8px;
}

.header-contact img {
  height: 20px;
}

.main-about {
  margin-top: 24px;
  margin-bottom: 60px;
}

.ma-background {
  height: 450px;
  width: 450px;
  background: #ff7c61;
  border-radius: 50%;
  position: relative;
}

.mab-img-top img {
  height: 300px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 5px 9px 20px #00000059;
          box-shadow: 5px 9px 20px #00000059;
}

.first {
  position: absolute;
  right: -50px;
}

.second {
  position: absolute;
  bottom: -90px;
}

.second img {
  height: 280px;
  width: 280px;
}

.rocket-design-icon {
  position: absolute;
  left: 25px;
  bottom: 200px;
}

.about-button {
  background: white;
  display: inline-block;
  padding: 10px 50px;
  border-radius: 32px;
  -webkit-filter: drop-shadow(0px 4px 74px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 74px rgba(0, 0, 0, 0.25));
}

.about-button a {
  font-weight: 500;
}

.about-button span {
  margin-left: 12px;
}

.ab-position {
  position: absolute;
  right: -100px;
  bottom: 230px;
}

.ab-position-0 {
  position: absolute;
  right: 0px;
  bottom: 50px;
}

.flex-title {
  text-transform: capitalize;
}

.flex-title span {
  color: #ff7c61;
}

.main-about-title h2 {
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-transform: #ff7c61;
  color: #051b43;
}

.main-about-right {
  padding: 0 18px;
}

.main-about-sub-title h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-transform: capitalize;
  color: #051b43;
}

.main-about-desc {
  padding: 12px 0;
}

.main-about-desc p {
  line-height: 24px;
}

.main-about-right .header-contact {
  display: inline-block;
}

.main-about-right img {
  height: 30px;
}

.services-single {
  margin: 0 18px;
  height: 145px;
  width: 145px;
  border-radius: 50%;
  background: white;
  text-align: center;
  line-height: 145px;
}

.services-single img {
  background: #051b43;
  border-radius: 50%;
  padding: 16px;
  -webkit-filter: drop-shadow(0px 4px 74px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 74px rgba(0, 0, 0, 0.25));
}

.ss-title {
  padding: 8px 0;
  width: 100%;
}

.ss-title h6 {
  font-size: 12px;
  font-weight: 600;
  color: #051b43;
}

.cs-image img {
  height: 340;
  width: 280;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}

.countries-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  overflow: hidden;
}

.countries-single {
  margin: 0 8px;
}

#nav {
  position: absolute;
  bottom: 0px;
  width: 120px;
}

#prev {
  display: inline-block;
  position: absolute;
  left: 0;
  border: 2px dotted black;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
}

#next {
  position: absolute;
  right: 0;
  display: inline-block;
  border: 2px dotted black;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
}

.cs-title {
  margin: 12px 0;
  text-align: center;
}

.ma-desc {
  margin: 18px 0;
}

.mv-content video {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 32px;
}

.ml-single {
  border: 4px dotted black;
  display: inline-block;
  padding: 90px;
  border-radius: 32px;
  margin: 0 12px;
}

.ml-title h6 {
  font-size: 32px;
  color: #051b43;
}

.mc-single {
  text-align: center;
  border: 4px dotted black;
  display: inline-block;
  height: 150px;
  width: 150px;
  line-height: 150px;
  border-radius: 32px;
  margin: 0 8px;
}

.ms-icon img {
  height: 50px;
  width: 50px;
}

.ms-title {
  margin: 12px 0;
}

.ms-title h6 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 12px;
}

.main-testimonial {
  position: relative;
}

.outer-circle {
  margin: 60px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 530px;
  width: 530px;
  border-radius: 50%;
  border: 3px dotted rgba(0, 0, 0, 0.287);
}

.inner-circle {
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  height: 330px;
  width: 330px;
  border-radius: 50%;
  border: 3px dotted rgba(0, 0, 0, 0.287);
}

.center-img {
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.center-img img {
  width: 200.03px;
  height: 200.03px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.25);
}

.student-circle-small {
  background: #ff7b6183;
  text-align: center;
  width: 90.03px;
  height: 90.03px;
  line-height: 90.03px;
  border-radius: 50%;
}

.student-circle-small img {
  width: 65.03px;
  height: 65.03px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.one {
  position: absolute;
  left: 366px;
}

.two {
  position: absolute;
  bottom: -20px;
}

.three {
  position: absolute;
  left: -154px;
}

.four {
  position: absolute;
  top: -145px;
  left: 180px;
}

.five {
  position: absolute;
  bottom: -145px;
  left: 180px;
}

.main-testimonial .ml-single {
  padding: 18px;
  max-height: 250px;
  min-height: 250px;
  overflow-y: scroll;
}

.std-course {
  padding-top: 3px;
  padding-bottom: 12px;
}

.std-course h6 {
  font-size: 12px;
  margin: 0;
  color: #464646;
  font-weight: 600;
}

.std-text p {
  font-size: 12px;
  line-height: 18px;
}

.bs-image {
  margin-right: 12px;
}

.bs-image img {
  border-radius: 32px;
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-single {
  margin-top: 18px;
}

.date {
  margin-top: 12px;
}

.date h6 {
  font-size: 12px;
  color: #918f8f;
  margin-bottom: 3px;
}

.bs-title h5 {
  margin-top: 0;
  font-size: 12px;
}

.v-events {
  margin: 24px 0;
}

.uni-event-single {
  margin-bottom: 28px;
  border-bottom: 2px dotted black;
}

.uni-event-single h6 {
  font-size: 12px;
}

.uni-event-single h5 {
  font-size: 16px;
}

.date-time {
  background: #051b43;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 8px;
}

.date-time h6 {
  color: white;
  padding: 8px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.v-events {
  max-height: 330px;
  min-height: 330px;
  overflow-y: scroll;
}

.advices-accordion {
  margin: 24px 0;
}

.advices-accordion .card-body {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

.advices-accordion .card {
  border: 0px;
  border-radius: 32px;
  margin-bottom: 12px;
}

.advices-accordion .card-header {
  background: #ff7b61b5;
  border-bottom: 0px;
}

.advices-accordion .btn-link {
  color: #051b43;
  font-weight: 600;
  font-size: 16px;
}

.advices-accordion .card-header {
  border-radius: 32px;
}

.custom-side-padding {
  padding-right: 100px;
}

.custom-side-padding-ac {
  padding-right: 85px;
}

.main-advice .bs-title {
  margin-top: 12px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */